/******* Navigation ************/
nav ul {
	list-style: none;
}

.nav-bar > li > a:first-child{
	font-size: 18px;
	color:#ccc;
	padding: 0 24px;
}

#main_nav,
#secondary_nav {
	padding: 0;
}
#menu-main-menu {
	background: rgba(0,0,0,.75);
	-webkit-border-radius:  10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
	font-size: 18px;
	height: 72px;
	margin-bottom: 0;
}
#menu-main-menu > li.has-flyout > a:first-child:after { content: none; display: block; width: 0; height: 0; border:none; }

#menu-main-menu > li {
	line-height: 72px;
	background: rgba(0,0,0,.75);
}

#menu-main-menu > li.active,
#menu-main-menu > .current_page_parent,
#menu-main-menu > .current_page_item { 
	background: #255682; 
}
#menu-main-menu > li.active > a { color: white; cursor: default; }
#menu-main-menu > li.active:hover { background: #3c6a98; cursor: default; }
#menu-main-menu > li:hover { background: #3c6a98; }
#menu-main-menu > li.logo:hover {background: url('../images/logo.png') no-repeat top;}
#menu-main-menu > li.logo.active:hover { background: url('../images/logo.png') no-repeat top; }
ul.sub-nav > li,
ul.sub-nav .current_page_parent a {
	display:none;
}

ul.sub-nav li.current_page_parent,
ul.sub-nav li.current_page_parent > li,
ul.sub-nav li.current_page_parent ul.sub-menu li > a   {
	display: block !important;
}
.sub-menu { 
	padding: 20px; 
	margin: 0; 
	border: none; 
	position: relative; 
	width: 100%; 
	z-index: 40; 
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	box-shadow: none; /* remove margin on any first-child element */ /* remove margin on last element */ }
	
ul.sub-menu  { 
	-webkit-border-radius:  10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
	padding: 0; 
	list-style: none;
	background: rgba(51, 102, 153, .9);
	height: 72px; 
}

ul.sub-menu > li { 
	float:left;
	display: block;
	position: relative;
	padding:0;
	margin:0;
	line-height: 72px;
	
}


ul.sub-menu li a { 
	border: none;
	 border-width: none; 
	 color: #FFF; 
	 display: inline; 
	 font-size: 18px; 	
	 height: auto; 
	 -webkit-box-shadow: none;
	 -moz-box-shadow: none; 
	 box-shadow: none; }

ul.sub-menu li a:hover { 
	background: none; 
	color: #000;
}

ul.sub-menu li.active { 
	margin-top: 0; 
	border-top: none; 
	border-left: none; 
}

ul.sub-menu > li > a:first-child {
	position: relative; 
	padding: 0 20px;
}
ul.sub-menu li.current_page_item a { 
	background: none; 
	border: none; 
	color: #000; 
	height: auto; 
	margin: 0; 
	position: static; 
	top: 0; 
	-webkit-box-shadow: 0 0 0; 
	-moz-box-shadow: 0 0 0; 
	box-shadow: 0 0 0; }

.external:before {
	content: "\e007";
	font-family: 'flagship-icon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 68px;
	color:#FFF;
	-webkit-font-smoothing: antialiased;
	float:right;
	display:inline;
}



/******* Header ************/

#menu-main-menu li.logo {
	background: url('../images/logo.png') no-repeat top;
	width: 237px;
	height: 133px;
	margin-top:-80px;
}
#menu-main-menu > li.logo.current_page_item {
	background: url('../images/logo.png') no-repeat top;
}
li.logo a {
	text-indent: -9999px;
}

#search-bar {
	background: #333;
	-webkit-border-radius:  10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
	color: #ccc;
	text-transform: uppercase;
	font-family:"Myriad W01 Bd";
	margin-top:15px;
}

#search-bar .columns {
	padding:0;
}

#search-bar a {
	color:#FFF;
	font-size: 9px;
    letter-spacing: 1px;
}

#search-bar .links {
	margin-top: 9px;
	padding-left:10px;
}

#search-bar input[type="text"] {
    height: 31px;
    margin-bottom: 0px;
    background: rgba(255,255,255,0.75);
    -webkit-border-top-right-radius: 	7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 		7px;
    -moz-border-radius-bottomright: 	7px;
    border-top-right-radius: 			7px;
    border-bottom-right-radius: 		7px;
    display: inline;
    float:left;
    width:82%;
    border:none;
}

#search-bar input[type="submit"] {
	background: #666;
	height: 31px;
	width: 30px;
	font-family: 'flagship-icon';
	-webkit-border-top-left-radius: 	7px;
	-webkit-border-bottom-left-radius: 	7px;
	-moz-border-radius-topleft: 		7px;
	-moz-border-radius-bottomleft: 		7px;
	border-top-left-radius: 			7px;
	border-bottom-left-radius: 			7px;
	font-size: 16px;
	border:none;
	float:left;
	padding:0;
	color:#ccc;
}
