/******* Fonts ************/

body {
	font-family: "Myriad W01 Regular", Arial, sans-serif;
	background: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Myriad W01 SmBd", Arial, sans-serif;
}

em, i,
blockquote,
blockquote p {
	font-family:"Myriad W01 It";
}

strong, b {
	font-family:"Myriad W01 Bd";
}

.iconfont {
	font-family: 'flagship-icon';
}

.copy h2 {
	color: #336699;
}

p {
	line-height: 1.3;
	color: #333;
}

h6 {
	font-size:10px;
	color:#666;
	font-family:"Myriad W01 Bd";
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 3px;

}

/******* Reusable Classes ************/

.black {
	background: rgba(0, 0, 0, .75);
}

.white {
	color:#FFF;
}

.sky_blue {
	color: #6699cc;
}

.grey_bg {
	background: #666;
}
.green,
#department {
	background: #006666;
}

.purple,
#interdisciplinary {
	background: #333366;
}

.fushia,
#arts {
	background: #993366;
}

.yellow,
#humanities {
	background: #dbb003;
}

.orange,
#natural {
	background: #cc6600;
}

.blue,
#social {
	background: #3399ff;
}

button {
	border:none;
	-webkit-border-radius:  7px;
	-moz-border-radius: 	7px;
	border-radius: 			7px;
	font-family: "Myriad W01 SmBd", Arial, sans-serif;
	color: #FFF;
	font-size: 16px;
	padding:8px 12px;
	margin-right: 10px;
	margin-bottom: 15px;
	opacity: .9;
}

button:hover {
	opacity: 1;
}

button a,
button a:hover,
button a:visited {
	color: #fff;
}

.radius10 {
	-webkit-border-radius:  10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
}

.radius-left {
	-webkit-border-top-left-radius: 	10px;
	-webkit-border-bottom-left-radius: 	10px;
	-moz-border-radius-topleft: 		10px;
	-moz-border-radius-bottomleft: 		10px;
	border-top-left-radius: 			10px;
	border-bottom-left-radius: 			10px;
}

.radius-topright {
	-webkit-border-top-right-radius: 	10px;
	-moz-border-radius-topright: 		10px;
	border-top-right-radius: 			10px;
}
.inline {
	display: inline;
}

.offset-top {
	margin-top:-30px;
	zoom: 1;
}
.block {
	display:block;
}

.no-gutter {
	padding: 0;
}

.text-shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .75);
}

ul, ol {
	list-style-position: inside;
	list-style:square;
}
.panel {
	background: #3478b6;
	border:none;
	color: #FFF;
	font-size: 14px;
	line-height: 24px;
}

.panel ul {
	list-style: none;
}

.panel li:before {
    content:"\25FE";
    font-size:20px;
    padding-right: 3px;
    vertical-align:middle;
}

#landing .panel li a,
.panel li a {
	color:#fff;
}

#landing .panel li a:hover, 
.panel li a:hover {
	color:#ffcc66;
}

.floatleft {
	float:left;
	margin-right: 15px;
}

.video_thumb .icon-play:before {
	position: absolute;
	top:20%;
	color:#336699;
	left:36%;
	font-size: 74px;
}

.video_thumb h3,
#landing .video_thumb h3 {
	margin: 5px 15px;
	color: #fff;
	font-size:16px;
}

.video_thumb p,
#landing .video_thumb p {
	margin: 5px 15px;
	padding-bottom: 15px;
	color: #fff;
	font-size:12px;
}

blockquote {
	border-left:none;
	padding: 9px 40px 0 10px;
}
blockquote,
blockquote p {
	color: #555;
	font-size: 16px;
}
blockquote:before {
	content: "\e011";
	font-family: 'flagship-icon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 80px;
	position: absolute;
	bottom:20%;
	right: 8%;
	opacity: .25;
	color: #336699;	
}
/******* Navigation ************/
nav ul {
	list-style: none;
}

.nav-bar > li > a:first-child{
	font-size: 18px;
	color:#ccc;
	padding: 0 24px;
}

#main_nav,
#secondary_nav {
	padding: 0;
}

#main_nav {
	position:relative; 
	margin:15px 0; 
}
#main_nav ul {
	padding:0; 
	margin:0; 
	list-style-type: none;
	background: rgba(0,0,0,.75);
	-webkit-border-radius:  10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;	
	z-index:100;
	width: 100%;
	max-width:1000px; 
	height:72px; 
}

#main_nav ul li {
	float:left; 
	line-height: 72px;
	padding: 0 25px;
	
}

#main_nav ul li a {
	font-size:18px;
	color: #FFF;
}

#main_nav ul li ul {
	visibility:hidden; 
	position:absolute; 
	top:72px; 
	left:0; 
}

#main_nav ul li:hover{ 
	background: #255682; 
}

#main_nav ul li:hover ul,
#main_nav ul li a:hover ul,
#main_nav ul li.current_page_ancestor ul {
	visibility:visible; 
	background: rgba(51, 102, 153, .9);
	width: 100%;
	max-width:1000px; 
	min-height:72px;
	-webkit-border-radius:  10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;}
#main_nav ul li:hover ul,

#main_nav ul li a:hover ul {
	background: rgba(51, 102, 153, 1);
}

#main_nav ul li:hover ul li ul,
#main_nav ul li a:hover ul li a ul {visibility:hidden; position:absolute; left:0; top:72px; }

#main_nav ul li:hover ul li a,
#main_nav ul li a:hover ul li a {display:block; color:#fff;}

#main_nav ul li:hover ul li a:hover,
#main_nav ul li a:hover ul li a:hover {  
	background: none;
	color:#000;
}

#main_nav > li.active > a { color: white; cursor: default; }

#main_nav > li.active:hover { background: #3c6a98; cursor: default; }

#main_nav > li:hover { background: #3c6a98; }

#main_nav ul li.logo:hover,
.mobile-logo:hover {background: none;}

#main_nav ul li.logo.active a:hover,
.mobile-logo a:hover { background: url('../images/logo.png') no-repeat top; }

#main_nav li.active,
#main_nav li.current_page_parent,
#main_nav li.current_page_ancestor,
#main_nav ul li.current_page_item { 
	background: #255682; 
}

#main_nav ul li.logo.current_page_item,
#main_nav ul li ul li.current_page_item,
#main_nav ul li ul li:hover,
#main_nav ul li ul li.current_page_ancestor {
	background: none;
}
#main_nav ul li ul li.current_page_item a,
#main_nav ul li ul li.current_page_ancestor a {
	color: #000;
}
#mobile_nav_container {
	padding: 15px 0;
	margin-top: 15px;	
}
li.external a::after {
	content: "\e007";
	font-family: 'flagship-icon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 68px;
	color:#FFF;
	-webkit-font-smoothing: antialiased;
	float:right;
	display:inline;
	font-size: 85%;
	padding-left:4px;
}

li.external a::after:hover {
	color:#000;
} 



/******* Header ************/

#main_nav li.logo,
.mobile-logo {
	width: 237px;
	height: 133px;
	padding: 0;
}
#main_nav li.logo a,
.mobile-logo a {
	background: url('../images/logo.png') no-repeat top;
	width: 237px;
	height: 133px;
	margin-top:-61px;
	text-indent: -9999px;
	position: absolute;
}
.mobile-logo a {
	margin-top: 0;
}

.mobile-logo {
	margin: 0 auto;
}
#main_nav ul li.logo.current_page_item a  {
	background: url('../images/logo.png') no-repeat top;
}

#search-bar {
	background: #333;
	-webkit-border-radius:  10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
	color: #ccc;
	text-transform: uppercase;
	font-family:"Myriad W01 Bd";
	margin-top:15px;
}

#search-bar .columns {
	padding:0;
}

#search-bar a {
	color:#FFF;
	font-size: 9px;
    letter-spacing: 1px;
}

#search-bar .links {
	margin-top: 9px;
	padding-left:10px;
}

#search-bar input[type="text"] {
    height: 31px;
    margin-bottom: 0px;
    background: rgba(255,255,255,0.75);
    -webkit-border-top-right-radius: 	7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 		7px;
    -moz-border-radius-bottomright: 	7px;
    border-top-right-radius: 			7px;
    border-bottom-right-radius: 		7px;
    display: inline;
    float:left;
    width:82%;
    border:none;
}

#search-bar input[type="submit"] {
	background: #666;
	height: 31px;
	width: 30px;
	font-family: 'flagship-icon';
	-webkit-border-top-left-radius: 	7px;
	-webkit-border-bottom-left-radius: 	7px;
	-moz-border-radius-topleft: 		7px;
	-moz-border-radius-bottomleft: 		7px;
	border-top-left-radius: 			7px;
	border-bottom-left-radius: 			7px;
	font-size: 16px;
	border:none;
	float:left;
	padding:0;
	color:#ccc;
}
/******* Footer ************/
footer {
	background: #000;
	padding-top: 25px;
}


footer a,
.inline-list li a {
	color:#CCC;
}
#social-media {
	margin-top:9px;
}
#social-media a {
	content:none;
	color:#333;
	background: #555;
	-webkit-border-radius:  50%;
	-moz-border-radius: 	50%;
	border-radius: 			50%;
	padding:10px;
	margin-right:10px;
	font-size:18px
}

#social-media a:hover {
	color:#333;
	background: #CCC;
}

#quicklinks {
	padding: 0;
	background: none;
}

#quicklinks .nav-bar {
	margin-top:0;
	background: none;
}

#quicklinks li.has-flyout {
	background: #d07b00;
	font-family:"Myriad W01 Bd";
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#quicklinks .flyout { 
	background: #f2f2f2;
	padding: 15px 0; margin: 0; 
	border: 1px solid #d9d9d9; 
	position: absolute; 
	left: 0px; 
	width: 180px; 
	z-index: 40; 
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	box-shadow: none;
	 
}

#quicklinks ul.flyout li { 
	border-left: none; 
}

#quicklinks ul.flyout li a { 
	background: #f2f2f2; 
	border-bottom: 1px solid #e6e6e6; 
	font-family: "Myriad W01 Regular", Arial, sans-serif;
	color: #555; 
	display: block; 
	font-size: 12px; 
	text-transform: none;
	height: auto; 
	line-height: 1; 
	padding: 15px 0 15px 10px; 
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
}

#quicklinks ul.flyout li a:hover { 
	background: #ffcc99; 
	color: #333; 
}

#quicklinks .nav-bar > li.has-flyout > a:first-child::after {
	content: none;
}
#menu-footer-links {
	margin-top: 15px;
}
#menu-footer-links a {
	font-size:12px;
}

/*******Backgrounds & Wrappers*********/
.wrapper {
	background: rgba(255,255,255, 0.95);
}

.sidebar_bg {
	background: #cecece;
}

body.home {
	color:#FFF;
}

body.academics,
body.single-studyfields {
	background: #000 url('../images/bg-fieldsofstudy.jpg') no-repeat top center;
}
body.home h1,
body.home h2,
body.home h3,
body.home h4,
.isotope h3
 {
	color:#F7f7f7;
}


/******* Home ************/
#evergreen {
	min-height: 325px;
}

#field_search,
#field_search label {
	font-family: "Myriad W01 SmBd", Arial, sans-serif;
	color: #FFF;
	font-size: 16px;
}

#field_search label {
	margin-top: 6px;
	display: inline;
}

#field_search input[type="text"] {
    height: 35px;
    margin-bottom: 15px;
    background: rgba(255,255,255,0.2);
    -webkit-border-top-right-radius: 	7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 		7px;
    -moz-border-radius-bottomright: 	7px;
    border-top-right-radius: 			7px;
    border-bottom-right-radius: 		7px;
    display: inline;
    float:left;
    width:88%;
    border:none;
}

#field_search input[type="submit"] {
	background: #333;
	height: 35px;
	width: 38px;
	font-family: 'flagship-icon';
	-webkit-border-top-left-radius: 	7px;
	-webkit-border-bottom-left-radius: 	7px;
	-moz-border-radius-topleft: 		7px;
	-moz-border-radius-bottomleft: 		7px;
	border-top-left-radius: 			7px;
	border-bottom-left-radius: 			7px;
	font-size: 16px;
	border:none;
	float:left;
	padding:0;
	color:#ccc;
}


#field_search .tabs {
	border-bottom:none;
}
#field_search .tabs dd.active, 
#field_search .tabs li.active {
	border-top:none;
	margin-top: 0;
	-webkit-border-top-left-radius: 	7px;
	-webkit-border-top-right-radius: 	7px;
	-moz-border-radius-topleft: 		7px;
	-moz-border-radius-topright: 		7px;
	border-top-left-radius: 			7px;
	border-top-right-radius: 			7px;
	height:40px;
	padding:10px;
	text-transform: uppercase;
	font-size:18px;
	letter-spacing: 1px;
}

#field_search tabs dd {
	padding: 20px 20px 0 20px;
}

#field_search ul.tabs-content.contained {
	background: rgba(0,0,0,.75);
	-webkit-border-radius: 			7px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 			7px;
	-moz-border-radius-topleft:		0;
	border-radius: 					7px;
	border-top-left-radius: 		0;
	border:none;
}

#field_search ul.tabs-content.contained > li {
	border:none;
}

#news_feed {
	padding: 15px 0;
	margin-bottom:60px;
}

#news_feed h4 {
	margin-bottom:0;
}
#news_feed summary {
	margin-bottom: 20px;
}

/******* Fields of Study ******/
a.field,
a.field p {
	color: #FFF;
}
div.field {
min-height: 325px;
margin-bottom: 30px;
max-width: 305px;
min-width: 240px;
}


#interdisciplinary {
	background: #333366;
}

#arts {
	background: #993366;
}

.disciplines {
	height:35px;
}

.ribbon {
	margin-left:10px;
	float:right;
}
		
#humanities {
	width: 30px;
	height: 14px;
	padding: 5px 0;
	position: relative;
}
#humanities::after {
	content:"";
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	border: 15px solid #dbb003;
	left: 0;
	border-bottom-color: transparent;
}

#natural {
	width: 30px;
	height: 14px;
	padding: 5px 0;
	position: relative;
}

#natural::after {
	content:"";
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	border: 15px solid #cc6600;
	left: 0;
	border-bottom-color: transparent;
}

#social  {
	width: 30px;
	height: 14px;
	padding: 5px 0;
	position: relative;
}

#social::after {
	content:"";
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	border: 15px solid #3399ff;
	left: 0;
	border-bottom-color: transparent;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


#fields_search fieldset {
	background: rgba(0,0,0,0.15);
	padding-bottom:30px;
	border:none;
}

#field_search,
#field_search label {
	font-family: "Myriad W01 SmBd", Arial, sans-serif;
	color: #FFF;
	font-size: 16px;
}

#field_search label {
	margin-top: 6px;
	display: inline;
}

#fields_search input[type="text"] {
    height: 56px;
    margin-bottom: 10px;
    -webkit-border-top-right-radius: 	7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 		7px;
    -moz-border-radius-bottomright: 	7px;
    border-top-right-radius: 			7px;
    border-bottom-right-radius: 		7px;
    display: inline;
    float:left;
    width:85%;
    background: #666;
	color:#ccc;
	font-family:"Myriad W01 It";
	font-size: 16px;
	border:none;

}

#fields_search input[type="submit"] {
	background: #333;
	height: 56px;
	width: 45px;
	font-family: 'flagship-icon';
	-webkit-border-top-left-radius: 	7px;
	-webkit-border-bottom-left-radius: 	7px;
	-moz-border-radius-topleft: 		7px;
	-moz-border-radius-bottomleft: 		7px;
	border-top-left-radius: 			7px;
	border-bottom-left-radius: 			7px;
	font-size: 26px;
	border:none;
	float:left;
	padding:0;
	color:#ccc;
}

/******* FIELDS OF STUDY LANDING PAGES ******/
#field_image {
	font-family: "Myriad W01 SmBd", Arial, sans-serif;
}

#field_image p {
	line-height: 1.7em;
}

#field_image h3 {
	font-size: 30px;
	margin: 30px 0 15px 0;
}
#field_image,
#field_image .black {
	min-height: 280px;
}

#landing h2,
#landing h3,
#landing a  {
	font-family: "Myriad W01 Regular", Arial, sans-serif;
	color: #3478b6;	
}
p.contact,
#landing p.contact a {
	font-size: 14px;
	margin-bottom: 40px;
	color: #000;	
}

p.contact span {
	margin-right: 10px;
}

p.contact [class^="icon-"]:before,
p.contact [class*=" icon-"]:before {
	padding-right: 4px;
	vertical-align: middle;
	font-size: 18px;
	color:#3478b6;
}

ul.nav {
	list-style: none;
}

ul.nav li {
	border-top: 1px solid #999;
	font-size:16px;
	padding: 10px 0 8px 30px;
	letter-spacing: 1px;
}

ul.nav li [class^="icon-"]:before,
ul.nav li [class*="icon-"]:before {
	margin-right: 10px;
	color: #999;
	vertical-align: middle;
}

#landing ul.nav li a {
	font-family: "Myriad W01 SmBd", Arial, sans-serif;
	color:#336699;
}

ul.nav:last-child {
	border-bottom: 1px solid #999;
}

.jumpmenu form {
    margin: 0 0 30px 30px;
}

.jumpmenu select {
    background: #3478b6;
    border: #666;
    color: #FFF;
    font-size: 14px;
    text-indent: 15px;
    height: 35px;
}
/******* Icons ******/

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'flagship-icon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'flagship-icon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-location:before {
	content: "\e000";
}
.icon-calendar:before {
	content: "\e001";
}
.icon-printer:before {
	content: "\e002";
}
.icon-home:before {
	content: "\e003";
}
.icon-search:before {
	content: "\e004";
}
.icon-user:before {
	content: "\e005";
}
.icon-new-tab:before {
	content: "\e006";
}
.icon-new-tab-2:before {
	content: "\e007";
}
.icon-facebook:before {
	content: "\e008";
}
.icon-vimeo:before {
	content: "\e009";
}
.icon-github:before {
	content: "\e00a";
}
.icon-reddit:before {
	content: "\e00b";
}
.icon-wordpress:before {
	content: "\e00c";
}
.icon-flickr:before {
	content: "\e00d";
}
.icon-feed:before {
	content: "\e00e";
}
.icon-twitter:before {
	content: "\e00f";
}
.icon-mail:before {
	content: "\e013";
}
.icon-minus:before {
	content: "\e014";
}
.icon-plus:before {
	content: "\e015";
}
.icon-share:before {
	content: "\e016";
}
.icon-share-2:before {
	content: "\e017";
}
.icon-bookmark:before {
	content: "\e018";
}
.icon-arrow-up-left:before {
	content: "\e019";
}
.icon-arrow-up:before {
	content: "\e01a";
}
.icon-arrow-up-right:before {
	content: "\e01b";
}
.icon-arrow-right:before {
	content: "\e01c";
}
.icon-arrow-down-right:before {
	content: "\e01d";
}
.icon-arrow-down:before {
	content: "\e01e";
}
.icon-arrow-down-left:before {
	content: "\e01f";
}
.icon-arrow-left:before {
	content: "\e020";
}
.icon-download:before {
	content: "\e021";
}
.icon-thumbs-up:before {
	content: "\e022";
}
.icon-thumbs-down:before {
	content: "\e023";
}
.icon-file-pdf:before {
	content: "\e024";
}
.icon-file-word:before {
	content: "\e025";
}
.icon-file-excel:before {
	content: "\e026";
}
.icon-file-zip:before {
	content: "\e027";
}
.icon-file-openoffice:before {
	content: "\e028";
}
.icon-file-powerpoint:before {
	content: "\e029";
}
.icon-play:before {
	content: "\e02a";
}
.icon-mobile:before {
	content: "\e02b";
}
.icon-phone:before {
	content: "\e012";
}
.icon-youtube:before {
	content: "\e02c";
}

.icon-arrow-right-2:before {
	content: "\e010";
}

.icon-comments:before {
	content: "\e011";
}

@media only screen and (max-width: 975px) {
#main_nav ul li {
	padding: 0 7px;
}

}
@media only screen and (min-width: 767px) {

}
@media only screen and (max-width: 767px) {
		#main_nav ul li:nth-child(5) {
			clear: left;
		}
		#main_nav ul li {
			width: 33%;
		}		
		
		#main_nav ul {
			height: 144px;
		}
		#main_nav ul li ul {
			display:none;
		}

		li.logo {
			display:none;
		}
}
@media only screen and (max-width: 540px) {
		#main_nav ul li {
			padding: 0 20px;
			width: auto;
		}
		.mobile-field {
			clear:left; 
		}
		body.fields .row .mobile-two { 
			width:100% !important; 
		}
}

@media only screen and (max-width: 480px) {
	button {
		font-size: 14px;
	}
	#main_nav {display: none !important;}
}
/*******Attributions*******/
/* 
Icon Set:	IcoMoon - Free -- http://keyamoon.com/icomoon/
License:	CC BY-SA 3.0 -- http://creativecommons.org/licenses/by-sa/3.0/
*/